#body{
    background-color: cadetblue;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family:  Tahoma, Geneva,  sans-serif;
}

#header{
    width: 100%;
    color: tomato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:  Tahoma, Geneva,  sans-serif;

}

h1 {
    font-size: 50px; 
    font-stretch: extra-expanded;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h2 {
    font-size: 15px;
    color: rgb(103, 99, 99);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: darkgrey;
}

h3 {
    color: rgb(103, 99, 99);
}

h4 {
    font-size: 15px;
    color: rgb(103, 99, 99);
}

.three-pix {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#features{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-family:  Tahoma, Geneva,  sans-serif;
}

.top-and-bottom-brdr {
    margin: 15px 0px 15px 0px;
    height: 10px;
    border-top: black 2px solid ;
    border-bottom: black 2px solid;
}

.three-pix {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#home-img-container {
    display: flex;
    justify-content: space-around;
    
}
.home-img-wrapper {
    width: Calc(30% - 10px);
    height: auto;
}

.image{
    width: 100%;
    height: auto;
}

#orange-btn-wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: 10px 5px 10px 5px;
    
    }

.orange-btn {
    background-color: coral;
    color: whitesmoke;
    font-family:  Tahoma, Geneva,  sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}

#page-break {
    display: flex;
    background-color: darkgray;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 77px;
    padding-bottom: 77px;
    }

.quote {
        color: white;
        font-size: 36px; 
        font-family:  Tahoma, Geneva,  sans-serif;          
    }

#main {
    background-color: cornflowerblue;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    font-family:  Tahoma, Geneva,  sans-serif;
    }    

#column-1 {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 67%;
    margin-right: 30px;
    }   


#column-2 {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 33%;
    }
    
.img-4 {
    width: 100%; 
}    
    
.post {
        background-color: darkgray;
        display: flex;
        flex-direction: column;
    }
  
.gray-btn{
    background-color: rgb(146, 141, 139);
    color: whitesmoke;
    font-family:  Tahoma, Geneva,  sans-serif;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}

#gray-btn-wrapper {
    float: left;
    display: flex;
    justify-content: flex-start;
   }

#orange-btn-wrapper-small{
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: 5px 5px 10px 5px;
    
    }   

.square-img-wrapper {
    width: Calc(45% - 10px);
    height: auto;
}

.img-text-wrapper {
    padding:3px;

}
.img-text-wrapper img {
   margin-right: 3px;
    float: left;
}

.img-text-wrapper p{
    margin:0;
}
.gray-border {
    border: 5px solid gray;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}



#page-break {
    width: 100%;
    height: 50px;
    background-color: solid black;
}


@media screen and (max-width: 768px) {
    #header, #features {
        width: 90vw;
        min-width: 100 px;
        flex-direction: column;
    }
}



